<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 共有先アプリの有無を判定するため（Android 11 以降のパッケージ可視性） -->
    <queries>
        <package android:name="com.twitter.android" />
        <package android:name="jp.naver.line.android" />
        <package android:name="com.Slack" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.LinkShare">

        <!-- 本体。画面はなく、起動元のエイリアスに応じて共有先へ振り分けてすぐ終了する。
             アプリ一覧から開いたときは使い方ページをブラウザで開く。 -->
        <activity
            android:name=".ShareActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 共有メニューに並ぶ項目。1 項目 = 1 共有先。 -->
        <activity-alias
            android:name=".ShareToX"
            android:exported="true"
            android:icon="@mipmap/ic_share_x"
            android:label="@string/share_to_x"
            android:targetActivity=".ShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ShareToLine"
            android:exported="true"
            android:icon="@mipmap/ic_share_line"
            android:label="@string/share_to_line"
            android:targetActivity=".ShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ShareToSlack"
            android:exported="true"
            android:icon="@mipmap/ic_share_slack"
            android:label="@string/share_to_slack"
            android:targetActivity=".ShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".CopyShareText"
            android:exported="true"
            android:icon="@mipmap/ic_share_copy"
            android:label="@string/copy_share_text"
            android:targetActivity=".ShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
